@model List<Professor>

@{
    int totalProfessores = Model.Count;
}


<p class="text-white">Total de Professores: @totalProfessores</p>
<h1 class="text-white text-center">Painel Professor</h1>
<br />

<table class="table table-bordered border-light  table-hover table-hover-custom table-dark">
    <thead>
        <tr class="text-center ">
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Professor professor in Model)
            {
                <tr class="align-text-top text-center">
                    <td class="align-middle col-md-3">@professor.Nome</td>
                    <td class="align-middle col-md-3">@professor.Cpf</td>
                    <td class="align-middle col-md-3">@professor.Disciplina</td>


                    <td>
                        <div class="d-grid ">
                            <a  class="btn btn-warning text-dark" role="button" asp-controller="Professor" asp-action="Editar" asp-route-id="@professor.Id">Editar</a>
                            <a  class="btn btn-danger text-dark " role="button" asp-controller="Professor" asp-action="ExcluirProfessor" asp-route-id="@professor.Id">Excluir</a>
                        </div>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary col-md-2 text-dark" type="button" asp-controller="Professor" asp-action="AdicionarProfessor">Adicionar Professor</a>
</div>