@model List<Aluno>


<h1 class="text-white text-center">Painel Aluno</h1>
<br/>
<table class="table table-bordered border-light  table-hover table-hover-custom table-dark">
    <thead> 
        <tr class="text-center">
            <th >Nome</th>
            <th >Cpf</th>
            <th>Matrícula</th>
            <th >Opções</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (Aluno aluno in Model)
            {
                <tr class="text-center">
                    <td class="align-middle col-md-3">@aluno.Nome</td>
                    <td class="align-middle col-md-3">@aluno.Cpf</td>
                    <td class="align-middle col-md-3">@aluno.Matricula</td>
                    <td class="align-middle col-md-3">
                        <div class="d-grid">
                            <a class="btn btn-warning text-dark" role="button" asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id">Editar</a>
                            <a class="btn btn-danger text-dark" role="button" asp-controller="Aluno" asp-action="ExcluirAluno" asp-route-id="@aluno.Id">Excluir</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary col-md-2 text-dark" type="button" asp-controller="Aluno" asp-action="AdicionarAluno">Adicionar Aluno</a>
</div>